@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.test{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
   
}
.income{
    margin-top: 50px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.clicky{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 30px;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.downloads{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.clicky:hover{
    cursor: pointer;
}

body{
    background-color: rgb(86, 255, 255);
}

.down{
    width: 100px;
    height: 50px;
    border: solid 1px black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-left: 30px;
}
.down:hover{
    cursor: pointer;
}